In [1]:
import camelot as cm

In [2]:
input_pdf = cm.read_pdf("table.pdf", flavor = "lattice", pages = "1" )

In [3]:
input_pdf

In [5]:
for n in input_pdf:
    print(n)

<Table shape=(6, 6)>

In [7]:
input_pdf[0].df

,0,1,2,3,4,5
0,Disability \nCategory,Participants,Ballots \nCompleted,Ballots \nIncomplete/ \nTerminated,Results,
1,,,,,Accuracy,Time to \ncomplete
2,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
3,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
4,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
5,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [13]:
df = input_pdf[0].df.loc[4:5,0:3]

In [14]:
df

           0  1  2  3
4  Dexterity  5  4  1
5   Mobility  3  3  0

In [15]:
df = df.reset_index(drop = True)

In [16]:
df

           0  1  2  3
0  Dexterity  5  4  1
1   Mobility  3  3  0

In [20]:
df.columns = ["Disability","Participants", "Ballot Completed", "Ballot Incomplete"]

In [21]:
df

  Disability Participants Ballot Completed Ballot Incomplete
0  Dexterity            5                4                 1
1   Mobility            3                3                 0

In [ ]:
df.loc[:,["Participants", "Ballot Completed", "Ballot Incomplete"]] = df.loc[:,["Participants", "Ballot Completed", "Ballot Incomplete"]].astype(float)

In [ ]:
df

In [22]:
df.to_csv("packt_output.csv")

In [23]:
df.to_excel("packt_output_excel.xlsx")